@use 'variables' as *;

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  height: 100%;
  font-family: $font-family;
  background: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

a { color: $color-green; text-decoration: none; }

ul { list-style: none; }
